[user]
	name = Tony Heupel
	email = tony@heupel.net

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[core]
	editor = /usr/bin/vim
[url "ssh://git@github.com"]
	insteadOf = https://github.com
[pull]
	rebase = false
[init]
	defaultBranch = main
