[submodule ".vim/bundle/jslint.vim"]
	path = .vim/bundle/jslint.vim
	url = git://github.com/tchype/jslint.vim
[submodule ".vim/bundle/tasklist.vim"]
	path = .vim/bundle/tasklist.vim
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule ".vim/bundle/pyflakes"]
	path = .vim/bundle/pyflakes
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule ".vim/bundle/pydoc"]
	path = .vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule ".vim/bundle/pep8"]
	path = .vim/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule ".vim/bundle/pytest.vim"]
	path = .vim/bundle/pytest.vim
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule ".emacs.d/plugins/rinari"]
	path = .emacs.d/plugins/rinari
	url = https://github.com/eschulte/rinari.git
[submodule ".emacs.d/plugins/textmate.el"]
	path = .emacs.d/plugins/textmate.el
	url = https://github.com/defunkt/textmate.el.git
[submodule ".vim/bundle/surround.vim"]
	path = .vim/bundle/surround.vim
	url = http://github.com/tpope/vim-surround
[submodule ".vim/bundle/vim-javascript-syntax"]
	path = .vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/dart-vim-plugin"]
	path = .vim/bundle/dart-vim-plugin
	url = git@github.com:dart-lang/dart-vim-plugin.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
